.joinButton{
    display: flex;
    flex-direction: row;
    background-color: white;
    align-items: center;
    justify-content: center;
    width: 15.5dvw;
    height: 55px;
    border-radius: 30px;
    border: 2px solid black;
    margin-top: 20px;
    margin-left: 13.25px;
}

.listOfMemBigBox{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: #ffffff; /* Replace with your desired background color */
    border-radius: 11px;
    border: 0px solid #000;
    width: 17vw;
    height: 70dvh;
    overflow: hidden;
    margin-top: 20px;
    /* align-items: stretch; */
    gap: 2.8vh;
}

/* .listOfMemBigBox > *:not(:first-child) {
    margin-bottom: 3.29%; /* Add margin-bottom-LEFT to all children except the 1st one */
    /* margin-left: 25px; */
/* } */

.memberBox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 67px;
    background-color:#977453B0;
}

.member{
    left: 3.2vw;
    position: relative;
}

.joinedButton{
    border-radius: 30px;
    border: 1px solid #000;
    background: #8B5A2B;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #ffffff;
}

.popup-container {
    position: fixed;
    top: 50%;
    left: 25%;
    transform: translate(0%, -50%);
    z-index: 1000;
  }