.joinButton{
    display: flex;
    flex-direction: row;
    background-color: white;
    align-items: center;
    justify-content: center;
    width: 90.3%;
    height: 55px;
    border-radius: 30px;
    border: 2px solid black;
    margin-top: 20px;
    margin-left: 13.25px;
}

.listOfMemBigBox{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: #ffffff; /* Replace with your desired background color */
    border-radius: 11px;
    border: 0px solid #000;
    width: 100%;
    height: 86.48%;
    overflow: hidden;
    margin-top: 20px;
    /* align-items: stretch; */
    gap: 2.8%;
}

/* .listOfMemBigBox > *:not(:first-child) {
    margin-bottom: 3.29%; /* Add margin-bottom-LEFT to all children except the 1st one */
    /* margin-left: 25px; */
/* } */

.memberBox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 67px;
    background-color:#977453B0;
}

.member{
    width: 19.16%;
    height: 82.5%;
    left: 3.286%;
    max-width: 276px;
    position: relative;
}
