.createPost{
    display: flex;
    flex-direction: row;
    background-color: #8B5A2B;
    align-items: center;
    justify-content: center;
    width: 90.3%;
    height: 55px;
    border-radius: 30px;
    border: 2px solid black;
    margin-top: 20px;
    margin-left: 13.25px;
}

.tagBox_Study {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    background-color: white;
    border-radius: 0;
    border: 0px;
}

.filterBox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 67px;
    background-color:#977453B0;
}

.filterBigBox{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: #ffffff; /* Replace with your desired background color */
    border-radius: 11px;
    border: 0px solid #000;
    width: 100%;
    height: 86.48%;
    overflow: hidden;
    margin-top: 20px;
    /* align-items: stretch; */
    gap: 2.8%;
}

/* .filterBigBox h3{
    /* margin-left: 9%;
    /* position: relative;
}*/

.filterBigBox > *:not(:first-child) {
    /* margin-bottom: 3.29%; Add margin-bottom-LEFT to all children except the 1st one */
    left: 9%;
    position: relative;
    /* align-items: stretch; */
}

.textStyle {
    font-family: 'Noto Sans';
    font-size: 27px;
}

.filterTagBox{
    display: flex;
    flex-direction: row;
    gap: 24px;
    height: 23px;
    background: white;
    width: 100%;
    flex-wrap: wrap;
    /* margin-left: 0%; */
    align-items: center;
    /* justify-content: center; */
}

.filterTagBox button{
    border-radius: 30px;
    border: 1px solid #000;
    background: #FFF;
    /* display: inline-flex; */
    height: 23px;
    width: 36%;
    max-width: 104px;
    justify-content: center;
    align-items: center;
}

.filter{
    width: 19.16%;
    height: 82.5%;
    left: 3.286%;
    max-width: 276px;
    position: relative;
    float: left;
}
