.tag{
    border: 1px solid black;
    border-radius: 30px;
    width: 104px;
    height: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: white; */
}

.postTitleBox{
    display: flex;
    flex-direction: column;
    /* align-items: center; You can uncomment this line if needed */
    /* justify-content: space-between; */
    background-color: white;
    border-radius: 11px;
    /* border: 2px solid black; */
    padding: 10px;
    height: 17.67%;
    overflow: auto;
    gap: 38.4%;
}

.nullTitleBox{
    background-color: #D9D9D9;
    border-radius: 11px;
    padding: 10px;
    height: 17.67%;
}

.PostDisplay{
    display: flex;
    flex-direction: column;
    margin-top: 4.75%;
    margin-left: 5.2%;
    width: 66.52%;
    height: 587px;
    gap: 3.4%;
}
